<div class="row mt-1 mb-2">
  <div class="col-3">
    <div>
        <select2
        name="attributes"
        [cssImport]="true"
        [options]="{ width: '100%', placeholder: 'Attributes', containerCssClass: 'select2-custom-container' }"
        [data]="propertyTypes"
        (valueChanged)="setAttribute($event)"
        [value]="selectedAttribute ? selectedAttribute : ''"
      ></select2>
    </div>
  </div>
  <div class="col-3">
    <div>
        <select2
        name="matchType"
        [cssImport]="true"
        [options]="{ width: '100%', placeholder: 'Match Type', containerCssClass: 'select2-custom-container' }"
        [data]="matchTypes"
        [value]="selectedMatchType ? selectedMatchType : ''"
        (valueChanged)="setMatchType($event)"
      ></select2>
    </div>
  </div>
  <div class="col-4">
    <input class="form-control" [(ngModel)]="queryParam.keyword" />
  </div>
  <div class="col-2">
    <button class="btn btn-link" (click)="removeParam()">Delete</button>
  </div>
</div>
