<div class="row mt-2" *ngIf="context">
    <div class="col-4">
      <ng-select
        class="custom type-selector"
        [class.select-error]="error && !context.type"
        [items]="typesData"
        [readonly]="context.required"
        bindLabel="text"
        bindValue="id"
        [(ngModel)]="typeItem"
        [ngModelOptions]="{standalone: true}"
        [clearable]="false"
        (search)="handleTypesSearch($event)"
        (change)="setContextType($event)"
        [loading]="typesLoading"
      >
      <ng-template ng-option-tmp let-item="item">
        {{item.text}} {{formatOptionLabel(item)}}
      </ng-template>
    </ng-select>
    </div>
    <div class="col-3">
        <ng-select
          *ngIf="context.type && context.requireDropdownForVal"
          class="custom value-selector"
          [class.select-error]="error && !context.value"
          [items]="valuesData"
          bindLabel="text"
          bindValue="id"
          [(ngModel)]="valueItem"
          [ngModelOptions]="{standalone: true}"
          [clearable]="false"
          (search)="handleValuesSearch($event)"
          (change)="setValue($event)"
          [loading]="unitsLoading"
        ></ng-select>
        <input
          *ngIf="context?.type && !context.requireDropdownForVal"
          class="form-control"
          [(ngModel)]="context.value && context.value.text ? context.value.text : context.value"
          [ngModelOptions]="{standalone: true}"
          [ngClass]="{'button-error' : (scalarError || error) && (!context.value || context.invalidValue)}"
          (focusout)="validateValue()"
        />
        <div class="row justify-content-center no-units" *ngIf="!context?.type">
          <span>N/A</span>
        </div>
    </div>
    <div class="col-3">
      <ng-select
          *ngIf="context.units !== null && context.type"
          class="custom units-selector"
          [class.select-error]="error && context.units === undefined"
          [items]="unitsData"
          bindLabel="text"
          bindValue="id"
          [(ngModel)]="unitsItem"
          [ngModelOptions]="{standalone: true}"
          [clearable]="false"
          (change)="setUnits($event)"
          [loading]="unitsLoading"
      ></ng-select>
        <div class="row justify-content-center no-units" *ngIf="!context.type || context.units === null">
          <span>N/A</span>
        </div>
    </div>
    <div class="col-2" style="text-align: center;">
      <button *ngIf="!context.required" class="btn btn-sm btn-link" (click)="onDelete()">Delete</button> 
    </div>
  </div>
  