<div class="row mt-3">
  <div class="col-12">
    <div class="row">
      <div class="col-1">
        <span class="badge badge-pill badge-primary mt-2">{{dimVar.index + 1}}</span>
      </div>
      <div class="col-4">
        <select2
          [cssImport]="true"
          [options]="typeOptions"
          [data]="typeData"
          [value]="selectedType ? selectedType : ''"
          (valueChanged)="setDimVarType($event)"
          [disabled]="dimVar.required"
          [ngClass]="error && !dimVar.type ? 'select2-error' : ''"
          ></select2>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="openModal()">
          Edit Context
          <span class="badge badge-light">{{dimVar.context.length}}</span>
        </button>
      </div>
      <div class="col-4" *ngIf="dimVar.units !== null && dimVar.type">
        <select2
          [cssImport]="true"
          [options]="unitsOptions"
          [data]="unitsData"
          [value]="selectedUnits ? selectedUnits : ''"
          (valueChanged)="setDimVarUnits($event)"
          [ngClass]="error && !dimVar.units ? 'select2-error' : ''"
        ></select2>
      </div>
      <div class="col-4" *ngIf="dimVar.units === null || !dimVar.type">
        <div class="row justify-content-center no-units">
          <span>N/A</span>
        </div>
      </div>
      <div class="col-1">
        <button class="btn btn-sm btn-link" *ngIf="!dimVar.required" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>