<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div appUploadDragDrop class="drop-zone p-4" (fileDropped)="handleFileInput($event)">
        <div class="row justify-content-center">
          <div class="col-10 d-block">
            <h2>Drag and drop your files here</h2>
          </div>
          <div class="col-10 d-block">
            <label style="font-weight: bold" for="file" class="click-to-browse">Or click to Browse</label>
            <input hidden type="file" id="file" (change)="handleFileInput($event.target.files)" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="file" class="row mt-4 justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header light-blue">
          <h5 style="float: left" class=" mt-1 mb-0">File Information</h5>
          <button (click)="removeFile()" style="float: right" class="btn btn-link">Remove</button>
        </div>
        <div class="card-body">
          <strong style="float: left">{{file?.name}}</strong>
          <span style="float: right">{{fileSize}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
