.option-container {
    border-radius: 10px;
    margin: 0px auto;
    width: 800px;
}



.table-background {
    background-color: white;
    padding: 10px;
}

.table-header {
    background-color: #00489B;
    color: white;
}

th {
    border-right: 1px solid white;
}
