@import url('https://fonts.googleapis.com/css?family=Economica&display=swap');

.login-container{
    margin: 0px auto;
    background-color: rgb(210,210,210);
    border-radius: 20px;
    width: 600px;
}

.login-title {
    font-family: 'Economica', sans-serif;
    font-weight: bold;
}

.login-options {
    color: #00365C;
    cursor: pointer;
}

.clearinghouse-header{
    background-image: url('../../../../assets/temporary_login_cover.jpg');
    background-size: cover;
    text-align: center;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.clearinghouse-header h5{ 
    color: white;
    font-size: 3rem;
    margin-top: 10px;
}

.login-container {
    margin-top: 10px;
}

label {
    margin-top: 10px;
}