<div class="form-container form-container-sm" style="padding: 0px; background-color: white; border: 1px solid #aaa;">
  <div class="clearinghouse-header" style="padding-top: 85px;">
    <h5 class="login-title">ENIGMA Data Clearinghouse</h5>
  </div>
  <div class="row justify-content-center mt-3">
    <!-- <div class="col-10"> -->
        <!-- <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a 
                [ngClass]="displayLogin ? 'active' : ''"
                class="nav-link"
                href="JavaScript:void(0)"
                (click)="displayLogin = true;"
              >Login</a>
            </li>
            <li class="nav-item">
              <a
                [ngClass]="!displayLogin ? 'active' : ''"
                class="nav-link"
                href="JavaScript:void(0)"  
                (click)="displayLogin = false;"
              >Sign Up</a>
            </li>
          </ul> -->
          <span class="login-options" (click)="displayLogin = true;">Login |</span>
          <span class="login-options" (click)="displayLogin = false;"> &nbsp;Sign up</span>
    <!-- </div> -->
  </div>
  <div class="pl-4 pr-4" *ngIf="displayLogin">
    <div class="row justify-content-center">
      <div class="col-9">
          <form class="form-group">
              <label for="email">Username:</label>
              <input type="text" id="email" class="form-control" />
              <label for="password">Password:</label>
              <input type="password" id="password" class="form-control" />
              <div class="row">
                <button class="btn btn-primary offset-10 mt-4 mb-4" (click)="login()">
                  Login
                </button>
              </div>
            </form>
      </div>
    </div>
  </div>
  <div class="pl-4 pr-4" *ngIf="!displayLogin">
    <div class="row justify-content-center">
      <div class="col-9">
          <form class="form-group">
              <label for="first-name">First Name:</label>
              <input type="text" id="first-name" class="form-control" />
              <label for="last-name">Last Name:</label>
              <input type="text" id="last-name" class="form-control" />
              <label for="signup-email">Username:</label>
              <input type="text" id="signup-email" class="form-control" />
              <label for="signup-password">Password:</label>
              <input type="password" id="signup-password" class="form-control" />
              <div class="row">
                <button class="btn btn-primary offset-10 mt-4 mb-4" (click)="login()">
                  Sign Up
                </button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>