<div class="row mt-1">
  <div class="col-6">
    <select2
      [cssImport]="true"
      [data]="select2Data"
      [options]="select2Options"
      [value]="selectedValue || ''"
      (valueChanged)="setPropertyType($event)"  
    ></select2>
  </div>
  <div class="col-3">
    <input
      class="form-control"
      type="text"
      [(ngModel)]="property.value"
      [ngModelOptions]="{standalone: true}"
    />
  </div>
  <div class="col-3">
    <input
      class="form-control"
      type="text"
      [(ngModel)]="property.units"
      [ngModelOptions]="{standalone: true}"
    />
  </div>
</div>