<div class="row mt-1">
  <div class="col-6">
    <select2
      [cssImport]="true"
      [data]="typesSelect2"
      [options]="propertiesOptions"
      [disabled]="property.required"
      [value]="propTypeItem ? propTypeItem : ''"
      (valueChanged)="setPropertyType($event)"
      [ngClass]="errors && !property.type ? 'select2-error' : ''"
    ></select2>
    <!-- <app-async-dropdown
      [term]="property.type"
      [required]="property.required"
      [method]="'searchOntTerms'"
      (valueChanged)="setPropertyType($event)"
    ></app-async-dropdown> -->
  </div>
  <div class="col-3">
    <input
      class="form-control"
      type="text"
      [(ngModel)]="property.value.text"
      [ngModelOptions]="{standalone: true}"
      [ngClass]="errors && !property.value.text ? 'error' : ''"
    />
  </div>
  <div class="col-2">
      <select2
        *ngIf="property.units !== null"
        [cssImport]="true"
        [data]="unitsSelect2"
        [options]="unitsOptions"
        [value]="unitsItem ? unitsItem : ''"
        (valueChanged)="setUnits($event)"
        [ngClass]="errors && !property.units ? 'select2-error' : ''" 
    ></select2>
    <!-- <app-async-dropdown
        [value]="unitsItem"
        [method]="'searchOntUnits'"
        [required]="property.required"
        (valueChanged)="setUnits($event)"></app-async-dropdown> -->
  </div>
  <div class="col-1">
    <button *ngIf="!property.required" class="btn btn-sm btn-link" (click)="onDelete()">Delete</button> 
  </div>
</div>