<div class="row">
  <p class="header ml-3">Display Values From: </p>
  <div class="display-values-container">
    <div class="form-check ml-5" *ngFor="let d of dimension.dimVars; let i = index;">
      <input
        class="form-check-input dim-var-option"
        type="checkbox"
        [(ngModel)]="d.selected"
        (change)="updateSelectedLabels(i)"

        [ngModelOptions]="{standalone: true}"
      />
      <label class="form-check-label">{{d.value_type.oterm_name}}
        <ng-container *ngIf="d.value_context.length">
          <span *ngFor="let ctx of d.value_context; let last = last">
            <span *ngIf="!last">,&nbsp;</span>
            <span>{{ctx.value_type.oterm_name}}={{ctx.value.oterm_name}}</span>
            <span *ngIf="ctx.units">&nbsp;({{ctx.units.oterm_name}})</span>
          </span>
        </ng-container>
      </label>
      <span
        class="badge badge-pill badge-primary ml-1"
        [class.var-unchecked]="!d.selected" 
        >V{{ i + 1 }}</span>
    </div>
  </div>
</div>
<div class="row label-display-options">
  <div class="col-4">
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="dimension.show_labels" [ngModelOptions]="{standalone: true}" type="checkbox" id="axisLabels" />
      <label class="form-check-label" for="axisLabels">Display Axis Labels As</label>
    </div>
  </div>
  <div class="container col-8">
  <span
    class="label-item"
    *ngFor="let label of labelDisplay; let i = index; let last = last"
    [innerHTML]="label | safeHtml"
  >
  <!-- {{label}}<span class="badge badge-pill badge-primary">V{{i+1}}</span> -->
  <span *ngIf="!last">,</span> 
  </span>
  <span 
    *ngIf="labelDisplay.length && !displayOptions" 
    class="edit-button"
    (click)="toggleDisplayOptions()"
    >Edit</span>
  <span
    class="update-cancel-buttons"
    *ngIf="displayOptions">
    <span (click)="toggleDisplayOptions()">Cancel |</span>
    <span (click)="setLabels()"> Update</span>
  </span>
  <hr *ngIf=displayOptions />
  <div class="display-options" *ngIf="displayOptions">
    <label for="edit-text-format">Format: </label>
    <input
      class="edit-text-format"
      id="edit-text-format"
      [(ngModel)]="plotlyFormatString"
      />
  </div>
</div>
</div>