.plot-container {
    padding: 20px;
    background-color: rgb(180,180,180);
    margin: 0px auto;
    width: 850px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loading {
    height: 600px;
    /* width: 800px; */
    background-color: rgb(250,250,250);
    color: rgb(180,180,180);
    text-align: center;
    /* padding-top: 250px; */
}

.back-icon {
    font-size: 1rem;
    position: relative;
    top: 2px;
}