<div class="container">
    <div class="row">
        <div class="col-3 mb-4">
          <div class="form-container-column filter-box">
              <h5>Narrow Results</h5>
              <!-- <button class="btn btn-sm btn-block mt-2 mb-2 btn-primary" (click)="getUpdatedValues()">Update Filter</button> -->
              <ul class="nav flex-column">
                  <li class="nav-item pt-4 pb-4" class="category-li" *ngFor="let category of filterCategories; let i = index;">
                    <span class="category-label">{{category.categoryName}}</span>
                    <div style="display: flex; flex-direction: row; align-items: center;" *ngFor="let item of category.items; let j = index;">
                      <input [id]="i + ' ' + j" type="checkbox" (change)="onValueChecked($event)" />
		      <label style="font-size: 0.7em; margin-bottom: 0;" [for]="i + ' ' + j">{{item.name}}</label>
                    </div>
                  </li>
                </ul>
              <button class="btn btn-sm btn-block mt-2 btn-primary" (click)="getUpdatedValues()">Update Filter</button>
          </div>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="card" style="border: 0px;">
              <div class="card-body">
                <h3 class="card-title">ENIGMA Data Clearinghouse</h3>
                <p class="card-text">This is a summary of all data in the ENIGMA Data Clearinghouse.  It
                    is divided into "core objects" - information about our wells, samples,
                    and other objects that mark important points in our workflow - and
                    "datasets," which represent the results of all other assays and
                    analyses.</p>
              </div>
            </div>
          </div>
          <div class="row mt-2" *ngIf="loading">
            <div class="col-12" style="height: 500px;">
              <ngx-spinner
              bdColor="rgba(0,0,0,0)"
              color="#aaa"
              size="medium"
              type="ball-spin-fade-rotating"
              [fullScreen]="false"
            ></ngx-spinner>
            </div>
          </div>
          <div class="row mt-2" *ngIf="!loading">
            <div class="col-6 pl-0 pr-1">
              <div class="card" *ngIf="coreTypes && coreTypes.items?.length">
                <div class="card-header" style="background-color: #00489B; color: white;">
                  Core Objects
                </div>
                <ul class="list-group">
                  <li 
                    *ngFor="let c of coreTypes.items"
                    class="list-group-item d-flex justify-content-between align-items-center"
                    (click)="navigateToSearch(c.queryMatch)"
                  >
                  <span style="cursor: pointer;">{{c.name}}</span>
                    <span style="cursor: pointer;" class="badge badge-primary badge-pill">{{c.count}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6 pl-1 pr-0">
                <div class="card" *ngIf="dynamicTypes && dynamicTypes.items?.length">
                  <div class="card-header" style="background-color: #00489B; color: white;">
                    Data Sets
                  </div>
                  <ul class="list-group">
                    <li 
                      *ngFor="let d of dynamicTypes.items"
                      class="list-group-item d-flex justify-content-between align-items-center"
                      (click)="navigateToSearch(d.queryMatch)"
                    >
                    <span style="cursor: pointer;">{{d.name}}</span>
                      <span style="cursor: pointer;"  class="badge badge-primary badge-pill">{{d.count}}</span>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
      </div>
</div>
