<div class="row mt-1">
  <div class="col-3">
    <select2
      [cssImport]="true"
      [options]="{ width: '100%'}"
    ></select2>
  </div>
  <div class="col-3">
    <select2
      [cssImport]="true"
      [options]="{ width: '100%'}"
    ></select2>
  </div>
  <div class="col-5">
    <select2
      [cssImport]="true"
      [options]="{ width: '100%'}"
    ></select2>
  </div>
  <div class="col-1">
    <i class="material-icons add-remove" (click)="removeParam()">remove_circle_outline</i>
  </div>
  <hr style="color: green; margin-bottom: 10px; width: 95%">
</div>
