
.options-container {
    background-color: rgb(210,210,210);
    padding: 10px;
    border-radius: 10px;
}

h5 { 
    padding-bottom: 5px;
}

img { 
    margin-left: 150px;
}

label {
    margin-left: 5px;
    color: rgb(100,100,100);
}

.category-li {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.category-label{
    margin-top: 0.5rem;
}

