<div class="row justify-content-center">
    <div class="col-8">
        <div class="card mt-4">
            <div class="card-header" style="background-color: #eeeeff;">Marker coloring options</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <ng-select
                        *ngIf="options.length"
                        class="custom"
                        [items]="options"
                        bindLabel="name"
                        bindValue="name"
                        [clearable]="false"
                        [(ngModel)]="mapBuilder.colorField"
                        [ngModelOptions]="{standalone: true}"
                    ></ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card mt-4">
            <div class="card-header" style="background-color: #eeeeff;">Labeling options</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <ng-select
                        *ngIf="options.length"
                        class="custom"
                        [items]="options"
                        bindLabel="name"
                        bindValue="name"
                        [clearable]="false"
                        [(ngModel)]="mapBuilder.labelField"
                        [ngModelOptions]="{standalone: true}"
                    ></ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>