.container {
    min-height: 28px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

input {
    height: 28px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.label-item {
    display: block;
}

.container span {
    margin-top: 5px;
}

.display-options { 
    position: relative;
}

.display-options input {
    width: 80%;
    margin-left: 15px;
}

.update-cancel-buttons {
    margin-left: 300px;
    font-size: 0.8rem;
    color: #00489b;
}

.edit-button {
    position: relative;
    left: 350px;
    font-size: 0.8rem;
    color: #00489b;
}

.edit-text-format {
    margin-bottom: 10px;
}
