<div class="row mt-4">
  <div class="col-5">
    <select2
      [cssImport]="true"
      [value]="typeValuesItem ? typeValuesItem : ''"
      [options]="typesOptions"
      [data]="typeValues"
      (valueChanged)="updateType($event)"
      [disabled]="dataValue.required"
      [ngClass]="error && !dataValue.type ? 'select2-error' : ''"
    ></select2>
    <button
      class="btn select2-custom-button"
      (click)="openContextModal()"
      [class.button-error]="error && !dataValue.type"
      [tooltip]="'Click to view data value context (' + dataValue.context.length + ' items)'"
      [delay]="750"
      [disabled]="!dataValue.type"
    >
    <i class="material-icons select2-custom-button-icon">
      more_horiz
    </i>
  </button>
  </div>
  <div class="col-5">
    <select2
      *ngIf="dataValue.units !== null && dataValue.type"
      [cssImport]="true"
      [value]="unitsItem ? unitsItem : ''"
      [options]="unitsOptions"
      [data]="unitsValues"
      (valueChanged)="updateUnits($event)"
      [ngClass]="error && !dataValue.units ? 'select2-error' : ''"
    ></select2>
    <div class="row justify-content-center no-units" *ngIf="dataValue.units === null || !dataValue.type">
      <span>N/A</span>
    </div>
  </div>
  <div class="col-2" *ngIf="!dataValue.required">
    <button
      class="btn btn-sm btn-link"
      (click)="onDelete()"  
    >Delete</button>
  </div>
</div>