.drop-zone {
    border-radius: 5px;
    border: 1px solid #ced4da;
    height: 300px;
}

.click-to-browse {
    color: #2969a5;
    cursor: pointer;
}

.requires-processes {
    font-size: 0.8rem;
    color: #888;
}