<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h5 class="mb-0 mt-2" style="float: left">
            Add Properties To Your Brick
          </h5>
          <!-- <button class="btn btn-link add-property" (click)="addProperty()" style="float: right">
            + Add Property
          </button>  -->
        </div>
      </div>
      <!-- <hr /> -->
      <div class="p-3">
        <span>Add metadata here that apply to your entire experiment.  E.g., were all the measurements taken on one instrument, or at one environmental location, or at a constant temperature?  Don't put in the person, lab, or date the experiment was conducted; those will be asked at the next step.</span>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <button style="float: left;" class="btn btn-link add-property" (click)="addProperty()">
            + Add Property
          </button>
          <a
            style="float: right; padding-top: 8px; padding-right: 6px;"
            routerLink="/microtypes"
            [queryParams]="{filter: 'mt_property'}"
            target="_blank">View Valid Properties</a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header light-blue">
          <h5>Brick Properties</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <h6 class="col-6">
              Property Type
            </h6>
            <h6 class="col-3">
              Value
            </h6>
            <h6 class="col-2">
              Units
            </h6>
          </div>
          <ng-container *ngFor="let property of properties">
            <app-property-form
              *ngIf="!property.hidden"
              [property]="property"
              (deleted)="deleteProperty(property)"
              (typeReselected)="resetProperty($event)"
              (valueError)="setValueError($event)"
            ></app-property-form>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2" *ngIf="errors">
      <div class="alert alert-danger" role="alert" *ngFor="let message of errorMessages">
        {{message}}
      </div>
    </div>
  </div>
</div>
