<div class="card mt-4">
    <div class="card-header" style="background-color: #eeeeff;">
        <span class="float-left">{{constraint.dimension.data_type.oterm_name}}</span>
        <!-- <div class="form-check float-right m-0">
            <input type="checkbox" class="form-check-input" [(ngModel)]="constraint.constrainByMean" />
            <label class="form-check-label pl-0">Use mean values</label>
        </div> -->
    </div>
    <div class="card-body">
        <div class="row mt-2" *ngFor="let v of constraint.variables; let last = last;">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        {{v.value.value_with_units}}
                    </div>
                    <div class="col-6">
                        <ng-select
                            [class.select-error]="invalid && !v.type"
                            [disabled]="constraint.constrainByMean"
                            class="custom"
                            [items]="constraintTypes"
                            [(ngModel)]="v.type">
                        </ng-select>
                    </div>
                </div>
                <div class="row mt-2" *ngIf="v.type === 'flatten'">
                    <div class="col-6">
                        Select a possible value from which to flatten {{v.value.value_no_units}}.
                    </div>
                    <div class="col-6">
                        <ng-select
                            class="custom"
                            [items]="v.unique_values"
                            [(ngModel)]="v.flatten_value"
                            (change)="setSelectedValue($event, v)"
                            [class.select-error]="invalid && v.type === 'flatten' && !v.flatten_value"
                        ></ng-select>
                    </div>
                </div>
            </div>
            <hr *ngIf="!last" style="width: 100%" />
        </div>
    </div>
</div>