.top-nav {
    height: 100px;
    width: 100%;
    background-color: #00365C; 
    margin-bottom: 20px;
}

#logo-image {
    height: 90px;
}

.nav-container {
    width: 800px;
    margin-top: 45px;
    margin-left: 30%;
}

.page-link {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:active {
    color: #00365C;
}

.page-link:active {
    color: #00365C;
}

.page-link:hover{
    color: white;
}

@media only screen and (max-width: 1200px) {
    .nav-container {
        margin-left: 0px;
    }
}
