.advanced-search-container {
    background-color: rgb(211, 209, 208);
    padding: 20px;
    border-radius: 20px;
    margin: 0px auto;
    width: 800px;
    margin-bottom: 20px;
}

.data-information-header {
    cursor: pointer;
}

.data-information-header h5 {
    margin-left: 20px;
}

.data-divider {
    width: 90%;
    max-width: 800px;
    margin: 0px auto;
    margin-bottom: 10px;
}

.search-button-footer {
    max-width: 800px;
    margin: 0px auto;
}
