
<div class="form-container">
  <div class="card">
    <div class="card-header" style="background-color: #eeeeff;">
      {{dimensionLabel}}
    </div>
    <form>
      <div class="form-group p-3">
          <div class="row">
              <div class="col-6">
                <label for="fromDimension">From Dimension</label>
                <select2
                  name="fromDimension"
                  [cssImport]="true"
                  [options]="select2Options"
                  [data]="dropdownValues"
                  (valueChanged)="setSelectedDimension($event)"
                  (click)="chRef.detectChanges()"
                ></select2>
              </div>
              <div class="col-6">
                <div class="form-check offset-1">
                  <input class="form-check-input" type="checkbox" value="" id="axisTitle" />
                  <label class="form-check-label" for="axisTitle">Axis Title</label>
                </div>
                <input name="axisTitle" [(ngModel)]="dimension.title" class="form-control">
              </div>
            </div>
              <div class="row">
                <div class="col-12" *ngIf="selectedDimension">
                  <app-axis-labeler [axis]="axis"></app-axis-labeler>
                </div>
              </div>
        </div>
    </form>
  </div>
</div>
