<div class="query-container">
  <div class="card">
    <div class="card-header" style="background-color: #eeeeff;">
      {{title}}
    </div>
    <form>
      <div class="form-group p-3">
        <label for="data-type">Data Type</label>
        <ng-select
          class="custom"
          [items]="dataTypes"
          placeholder="Select a data type"
          bindLabel="dataType"
          (change)="updateQueryMatch($event)"
          (clear)="handleClear()"
          [(ngModel)]="selectedDataType"
          [ngModelOptions]="{standalone: true}"
          [clearable]="false"
        >
        <ng-template ng-option-tmp let-item="item">
          <img [src]="getImgSource(item)" width="20px" height="20px" />
          <span style="margin-left: 10px">{{item.dataType}}</span>
        </ng-template>
      </ng-select>
        <label class="mt-4">Property Parameters</label>
        <app-property-params 
          *ngFor="let param of queryMatch?.params; let idx = index;" 
          [queryParam]="param"
          [dataType]="selectedDataType.dataType"
          (removed)="removePropertyParam(param)"
        >
        </app-property-params>
        <hr />
        <div class="row">
          <div class="col-2 offset-10">
            <button class="btn btn-link" [disabled]="!selectedDataType" (click)="addPropertyParam()">
              Add
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>