<div class="query-container">
  <label for="data-type">Data Type</label>
  <select2
    [options]="{ width: '100%', placeholder: 'Select a data type stored in our system' }"
    [cssImport]="true"
    [data]="dataModelList"
    name="data-type"
    (valueChanged)="updateObjectDataModel($event)"
  >
</select2>
  <label class="mt-2">Property Parameters</label>
  <app-property-params 
    *ngFor="let param of queryMatch?.params; let idx = index;" 
    [data]="param"
    [isEmpty]="false"
    [connection]="connection"
    (removed)="removePropertyParam(param)"
    (updated)="updatePropertyParam(idx, $event)"
  >
  </app-property-params>
  <app-property-params
    [isEmpty]="true" 
    [connection]="connection" 
    (added)="addPropertyParam($event)" 
    style="color: orange!important"
  >
  </app-property-params>
</div>