.data-information-header {
    width: 800px;
    margin: 0px auto;
}

.option-container {
    background-color: rgb(211, 209, 208);
    border-radius: 20px;
    width: 800px;
    margin: 0px auto;
    padding: 20px;
}

.bottom-button-row {
    width: 800px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

h5 {
    display: inline-block;
    margin-left: 15px;
}