<div class="row mb-3 mt-3" *ngIf="currentUrl.includes('core') || currentUrl.includes('brick')">
  <div class="col-6 offset-1">
    <span class="search-option" style="cursor: pointer" (click)="navigateToSearchResult()">
        <i class="material-icons back-icon">keyboard_arrow_left</i>
        Back to Search Results &nbsp;&nbsp;
    </span>
    <span class="search-option" *ngIf="previousUrl.length" (click)="navigateToPreviousItem()">| &nbsp;&nbsp; Previous Item</span>
  </div>
</div>
<hr *ngIf="currentUrl.includes('core') || currentUrl.includes('brick')" />
<router-outlet></router-outlet>
