.search-options-container {
    width: 500px;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.search-option {
    color: #00365C;
}

.back-icon {
    font-size: 1rem;
    position: relative;
    top: 2px;
}

.search-option-selected {
    color: #00365C;
    font-weight: bold;
}