<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h5 style="float: left" class="mt-2 mb-0">Select a Brick Type to Upload</h5>
        </div>
      </div>
      <hr />
      <div class="card">
        <h5 class="card-header light-blue">Data Type</h5>
        <div class="card-body">
          <select2
            [cssImport]="true"
            [data]="select2Data"
            [options]="select2Options"
            [value]="selectedTemplate ? selectedTemplate : ''"
            (valueChanged)="setBrickType($event)"
            [ngClass]="error ? 'select2-error' : ''" 
          ></select2>
        </div>
      </div>
      <div class="row mt-2" *ngIf="error">
        <div class="col-12">
          <div class="alert alert-danger">
            Error: Please select a template to model your brick
          </div>
        </div>
      </div>
    </div>
  </div>
</div>