<div class="container">
  <nav>
    <ol class="breadcrumb">
      <li
        *ngFor="let step of uploadSteps; let i = index;"
        class="breadcrumb-item"
        [ngClass]="getProgressStatus(i)"
      >
        <a 
          href="JavaScript:void(0)"
          (click)="navigateBreadcrumb(step, i)"
          >
          {{format(step)}}
        </a>
      </li>
    </ol>
  </nav>
</div>
<router-outlet></router-outlet>
<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-1 offset-1">
      <button
        class="btn btn-light previous-step"
        *ngIf="progressIndex > 0 && !currentUrl.includes('create')"
        (click)="previousStep()"
      >
        <i class="material-icons arrow-icon">
          keyboard_arrow_left
        </i>
        Previous
      </button>
    </div>
    <div class="col-1 offset-7">
      <button
        class="btn btn-light next-step"
        *ngIf="progressIndex < uploadSteps.length - 1"
        (click)="nextStep()"
      >
        Next  
          <i class="material-icons arrow-icon">
            keyboard_arrow_right
          </i>
      </button>
      <button
        *ngIf="progressIndex === 9"
        (click)="submit()"
        class="btn btn-primary"
      >Submit</button>
    </div>
  </div>
</div>