<div class="container">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <a
          href="JavaScript:void(0)"
          [routerLink]="['/type']">
          Type
        </a>
      </li>
      <li class="breadcrumb-item">Properties</li>
      <li class="breadcrumb-item">Dimensions</li>
      <li class="breadcrumb-item">Load</li>
      <li class="breadcrumb-item">Validate</li>
      <li class="breadcrumb-item">Map</li>
      <li class="breadcrumb-item">Create</li>
    </ol>
  </nav>
</div>
<router-outlet></router-outlet>
<div class="container">
  <div class="row mt-4">
    <div class="col-1 offset-1">
      <button class="btn btn-light">
        <i class="material-icons arrow-icon">
          keyboard_arrow_left
        </i>
        Previous
      </button>
    </div>
    <div class="col-1 offset-7">
      <button class="btn btn-light">
        Next  
          <i class="material-icons arrow-icon">
            keyboard_arrow_right
          </i>
      </button>
    </div>
  </div>
</div>